* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #42545C;
    scroll-behavior: smooth;
  }

body {
    min-height: 100vh;
    background: #f8f8f8;
  }

 .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #9881f7;
    padding: 20px 40px;
    text-align: center;
    z-index: 1000;
    max-height: 250px;
 } 

.header .top li {
    list-style: none;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.top .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

 .middle {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    background-color: #fff;
    height: auto;
    max-width: 500px;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.08);
    border-radius: 3%;
 }

 .middle img {
    height: auto;
    width: 160px;
    padding: 20px 20px 5px 20px;
 }

 .middle-amazon img {
    width: 120px;  
 }

 .middle-cisco img {
    width: 200px;
 }

 .middle-citi img, .middle-amazon img, .middle-cisco img, .middle-deloitte img {
    padding: 25px 25px 5px 25px;
 }

 .middle h1 {
    padding: 0px 20px;
    letter-spacing: 2px;
 }

 .middle p {
    padding: 0px 20px;
    letter-spacing: 1px;
    font-size: 1.1rem;
 }

 .middle-cisco p, .middle-amazon p, .middle-citi p, .middle-deloitte p {
    padding: 0px 20px 10px 23px;
 }

.container {
    position: relative;
    margin-top: 350px;
    text-align: center;
}

.container .title h2 {
    letter-spacing: 1px;
    padding-top:245px;
}

.container .amazon-title h2, .container .deloitte-title h2 {
    padding-top: 130px;
}

.container .cisco-title h2 {
    padding-top: 110px;   
}

.container .citi-title h2 {
    padding-top: 180px;   
}

.student-details{
    
    padding-left:50px; 
    padding-top: 80px;
    column-gap: 16px;
    row-gap: 40px;
}
.photo{
    height:250px;
    width:230px;
}
.student-grid{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 40 px;
}
.name{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #42545C;
    margin-top: 14px;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.branch{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #42545C;
    margin-top: 1px;
    letter-spacing: 1px;
}

.connect{
    display:block;
    margin:auto;
    background-color: #9881f7;
    color:white;
    border: none;
    font-weight: bold;
    width:100px;
    padding: 5px;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property:box-shadow,transform;

}
.connect:hover,.connect:focus,.connect:active{
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.photo{
    position: relative;
    width:300px;
    padding:2px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /* border-radius:12px; */
    transition: 0.5s;
    /* filter: drop-shadow(3px 3px 5px #42545C); */
}

.photo:hover{
    /* transform: scale(1.03);
    z-index:0.09; */
}

footer {
    position: relative;
    width: 100%;
    height: auto;
}

.main-footer {
    background-color: #9881f7;
    text-align: center;
    padding: 2% 1% 1% 1%;
    margin-top: 150px;
}

.main-footer .copyright {
    color: #f8f8f8;
    font-size: 15px;
}

.main-footer .brand {
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #f8f8f8;
    transition: transform .2s;
}

.main-footer .brand:hover {
    transform: scale(1.1);
}

.am-footer {
    position: relative;
    margin-bottom: 0;
}