* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #42545C;
    scroll-behavior: smooth;
  }

body {
    min-height: 150vh;
    background: #f8f8f8;
  }

/*-------------------------------------------HEADER SECTION--------------------------------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05); */
    z-index: 1000;
    /* transition: 0.5s; */
  }

  /* header.sticky {
    padding: 10px 40px;
  } */

.nav-links {
    position: relative;
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-family: 'Montserrat', sans-serif;
    color: #42545C;
    display: inline;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-right: 50px;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}

.logo img {
    height: 3.4rem;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-left: 50px;
}

.logo h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: black;
    /* margin-right: 700px; */
}

/* @media (max-width: 991px) {
    header {
        padding: 20px 20px;
      }
    
} */

/*-----------------------------------BANNER SECTION---------------------------------------*/

.banner {
    position: relative;
    /* padding: 100px; */
    width: 100%;
    min-height: 70vh;
    background-color: #9881f7;
    /* height: 500px; */
    /* padding-top: 60px; */
    margin-top: 90px;
}

.intro-image img {
    height: 450px;
    width: 580px;
    margin-left: 60px;
    margin-top: 60px;
}

.intro-text h2 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 80px;
}


/*---------------------------------COMPANIES SECTION------------------------------------------*/

.popularCompany h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.popularCompany {
    position: relative;
    margin-top: 130px;
    margin-bottom: 50px;
    padding: 20px;
    text-align: center;
}

.company img {
    height: 30px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.company h3 {
    display: inline;
    position: absolute;
    top: 20px;
    left: 80px;

}

.company button {
    position: absolute;
    right: 30px;
    top: 15px;
    font-size: 1.1rem;
    width: 10%;
    border-radius: 2rem;
}


.company {
    position: relative;
    height: 70px;
    width: 60%;
    margin-left: 100px;
    box-shadow: 5px 5px 5px 5px grey;
    transition: ease 1s;
    margin: 0 auto 50px auto;
    border-radius: 2rem;
}

.company:hover {
    border-right: 20px solid;
    border-color: #9881f7;
}

#contact {
    background-color: #9881f7;
    text-align: center;
    padding: 1% 1% 1% 1%;
    margin-top: 150px;
}

#contact .copyright {
    color: #fff;
    font-size: 15px;
}

#contact .brand {
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #fff;
}