* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #42545C;
    scroll-behavior: smooth;
  }

body {
    min-height: 150vh;
    background: #f8f8f8;
  }

/*------------------------HEADER SECTION------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
  }

  header.sticky {
    padding: 10px 40px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
  }

.nav-links {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-family: 'Montserrat', sans-serif;
    color: #42545C;
    display: inline;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-right: 50px;
    text-decoration: none;
}

.nav-links a:hover {
    color: black;
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo img {
    height: 3.4rem;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-left: 50px;
}

.logo h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: black;
    /* margin-right: 700px; */
}

@media (max-width: 991px) {
    header {
        padding: 20px 20px;
      }
    
}

/*-----------------------------------BANNER SECTION------------------------*/

.banner {
    position: relative;
    /* padding: 100px; */
    width: 100%;
    min-height: 70vh;
    background-image: url(images/introduction.jpeg);
    /* height: 500px; */
    /* padding-top: 60px; */
    margin-top: 90px;
}

.intro-text {
    padding-top: 50px;
    margin-left: 80px;
}

.intro-text h2 {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-family: 'Montserrat', sans-serif;
}

.intro-text p {
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
    color: #42545C;
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
}

.intro-text {
    width: 50%;
}

.intro-text .btn {
    margin-top: 20px;
    width: 300px;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------FEATURES SECTION----------------------------------*/

.features-image img {
    height: 350px;
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.feature {
    display: relative;
    padding-top: 80px;
}

.features {
    margin: 120px;
}

.features-text h3 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.features-text p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #42545C;
}

.features-text {
    padding: 70px;
    padding-left: 80px;
}


/*----------------------------CALL TO ACTION SECTION------------------------------*/

.start-now {
    display: relative;
    padding-top: 90px;
}

.cta {
    border-radius: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin: 0 auto 0 auto;
    width: 1000px;
    height: 600px;
    text-align: center;
    background-image: url(images/senior.png);
    padding-top: 330px;
    margin-bottom: 70px;
}

.cta h3 {
    margin: 0 auto 0 auto;
    width: 70%;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.cta .btn {
    margin-top: 10px;
    width: 350px;
    font-weight: 700;
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #42545C; 
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

#contact {
    background-color: #42545C;
    text-align: center;
    padding: 2% 1% 1% 1%;
    margin-top: 150px;
}

#contact .copyright {
    color: #fff;
    font-size: 15px;
}

#contact .brand {
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 30px;
    color: #fff;
}